---
apiVersion: v1
kind: List
items:
{% for k,v in acpr_console_notifications.items() %}
{% for i in v %}
- apiVersion: console.openshift.io/v1
  kind: ConsoleNotification
  metadata:
    name: '{{ i.name|lower }}'
    labels:
      app.kubernetes.io/managed-by: avaloq-acpr
  spec:
    text: '{{ i.text }}'
    location: '{{ k }}'
{% if i.url is defined and i.urltext is defined %}
    link:
      href: '{{ i.url }}'
      text: '{{ i.urltext }}'
{% endif %}
    color: '{{ i.color|default("#fff")}}'
    backgroundColor: '{{ i.bgcolor|default("#0088ce")}}'
{% endfor %}
{% endfor %}
