# Copyright 2019 Avaloq Evolution AG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##==============================================
# Ansible recommended settings - https://docs.openshift.com/container-platform/3.11/scaling_performance/install_practices.html#scaling-performance-install-optimization
##==============================================

[defaults]
forks = 20 
host_key_checking = False
roles_path = roles/
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ansible/facts/
fact_caching_timeout = 600
log_path = ansible.log
nocows = 1
callback_whitelist = profile_tasks
gather_timeout = 180

# If set, configures the path to the Ansible Vault password file
#vault_password_file = /path/to/vault_password_file

# If set, configures the path to the Ansible inventory file
#inventory = ./inventory/ansible-hosts

[privilege_escalation]
become = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ServerAliveInterval=60
control_path = %(directory)s/%%h-%%r
pipelining = True
timeout = 10
